

 <p class="h1 text-center" style="color: #654C4F">All Available Plants</p>

  <main class="container">
    <div class="card-columns item-columns">
      <% @plants.each do |plant| %>
        <div class="card">
          <img class="card-img-top" src= "<%= plant.image %>", size:"300x300">
          <div class="card-body">
            <h6 class="card-title h6"><%= link_to plant.name, plant_path(plant) %></h6>
            <p class="card-text"><%= link_to 'Edit Plant', edit_admin_plant_path(plant) %></p>
            <p class="card-text"><%= link_to 'Delete Plant', admin_plant_path(plant), method: :delete %></p>
            <p class="card-text"><% if current_user %>
              <%= form_for current_user.favorites.new, url: user_favorites_path(current_user) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :plant_id, value: plant.id %>
              <%= f.submit 'Add plant to favorites' %>
                  <% end %>
                <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </main>
