<h1>Add Greenhouse</h1>

<%= form_for [:admin, @green_house] do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.submit "Create greenhouse" %>
<% end %>
