<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Greenhouse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </head>

    <nav class="navbar navbar-light" style="background-color: #D8D0C1;">
      <a class="navbar-brand" href="#">ColdHardyCactus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if current_admin? %>
        <%= link_to 'Home', root_path %> | <%= link_to 'View all plants', plants_path %> | <%= link_to 'Add plant', new_admin_plant_path %> | <%= link_to 'All greenhouses', admin_green_houses_path %> | <%= link_to 'Add greenhouse', new_admin_green_house_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      <% elsif current_user %>
        <%= "Logged in as #{current_user.username}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'View all plants', plants_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Home', root_path %> | <%= link_to 'View all plants', plants_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
      <% end %>

      <% if notice %>
        <%= notice %>
  	  <% end %>

  	  <% if alert %>
        <%= alert %>
  	  <% end %>
    </nav>
  <div class="background_image">
    <body>

    <%= yield %>

    </body>
  </div>
</html>
